# Ignore everything by default.
/*

# The gitignore of this repository itself (!)
!.gitignore

# config dirs/files
!/bashrc
!/bash_profile
!/fontconfig/
!/compton/
!/git/
/git/*
!/git/ignore
!gtk/
/gtk/*
/gtk/genus
!/i3/
/i3/scripts/__pycache__/
!/nvim/
/nvim/plugged
/nvim/README.md
/nvim/autoload/plug.vim.old
!/openbox/
!/pkglists/
!/polybar/
!/ranger/
/ranger/*
!/ranger/rc.conf
!/ranger/rifle.conf
!/ranger/scope.sh
!/redshift.conf
!/rofi/
!/scripts/
!/termite/
/termite/*
!/termite/config
!/themes/
!/tint2/*
/tint2/tint2rc.backup*
!/user-dirs.dirs
!/Xresources
