# Ignore everything by default.
/*

# Git aliases, identification info
#!.gitconfig
# The gitignore of this repository itself (!)
!.gitignore

# .config dir (include first, then exlude again...
# ...not sure if neccessary...)
!/bashrc
!/bash_profile
!/Xresources
!/filelist
!/fontconfig
!/i3
/i3/scripts/__pycache__
!/nvim
/nvim/plugged
/nvim/README.md
/nvim/autoload/plug.vim.old
!/openbox
!/polybar
!/ranger
/ranger/*
!/ranger/rc.conf
!/ranger/rifle.conf
!/ranger/scope.sh
!/compton.conf
!/user-dirs.dirs
!/redshift.conf
!/termite
/termite/*
!/termite/config
!/git
/git/*
!/git/ignore
